.u-center-text {
    text-align: center;
}

.u-margin-bottom-2 {
    margin-bottom: 1.2rem;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;


}
